.gallery li.slide {
  background-color: white;
}

.gallery .carousel .control-dots li.dot {
  background: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gallery .carousel .control-dots li.dot.selected {
  background: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
