@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/*.gallery .small .slick-initialized .slick-track {
  display: flex;
  align-items: center;
}*/

/*.gallery .small .slick-dots li button:before {
  color: white;
}*/
